<div class="container-fluid mt-5 pt-5">
  <form
    (ngSubmit)="createCourse(); courseForm.reset()"
    #courseForm="ngForm"
    class="d-flex flex-column"
  >
    <div
      class="form-row alert alert-danger"
      *ngIf="courseTitle.invalid && (courseTitle.touched || courseTitle.dirty)"
    >
      <div>Course Title is required.</div>
    </div>
    <div class="form-group form-row">
      <label class="col">Course Title</label>
      <input
        type="text"
        class="form-control col"
        name="courseTitle"
        [(ngModel)]="course.courseTitle"
        #courseTitle="ngModel"
        required
      />
    </div>
    <div
      class="form-row alert alert-danger"
      *ngIf="description.invalid && (description.touched || description.dirty)"
    >
      <div>Description is required.</div>
    </div>
    <div class="form-group form-row">
      <label class="col">Description</label>
      <textarea
        class="form-control col"
        name="description"
        [(ngModel)]="course.description"
        #description="ngModel"
        required
      ></textarea>
    </div>

    <div
      class="form-row alert alert-danger"
      *ngIf="schedule.invalid && (schedule.touched || schedule.dirty)"
    >
      <div>Schedule is required.</div>
    </div>

    <div class="form-group form-row">
      <label class="col">Scheduled On</label>
      <input
        type="date"
        class="form-control col"
        name="schedule"
        [(ngModel)]="course.schedule"
        #schedule="ngModel"
        required
      />
    </div>

    <div
      class="form-row alert alert-danger"
      *ngIf="duration.invalid && (duration.touched || duration.dirty)"
    >
      <div>Duration is required.</div>
    </div>

    <div class="form-group form-row">
      <label class="col">Duration(in hours)</label>
      <input
        class="form-control col"
        type="text"
        name="duration"
        [(ngModel)]="course.duration"
        required
        #duration="ngModel"
      />
    </div>

    <div
      class="form-row alert alert-danger"
      *ngIf="max.invalid && (max.touched || max.dirty)"
    >
      <div>Max Registration is required.</div>
    </div>

    <div class="form-group form-row">
      <label class="col">Max Registration</label>
      <input
        class="col form-control"
        type="text"
        name="maxRegistrationLimit"
        [(ngModel)]="course.maxRegistrationLimit"
        #max="ngModel" required
      />
    </div>
    <div class="d-flex justify-content-center">
      <button
        type="submit"
        [disabled]="!courseForm.valid"
        class="btn btn-success mr-1">
          Save
      </button>
      <button type="reset" class="btn btn-danger">Cancel</button>
    </div>
  </form>
</div>
